@font-face {
    font-family: 'CBNUJIKJI';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2202@1.0/CBNUJIKJI.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
  margin: 0;
  padding: 0;
  font-family: CBNUJIKJI, Helvetica, sans-serif;
}
#category-filter {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 10px;
}

#category-filter button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
}

#category-filter button:hover {
    background-color: #e0e0e0;
}
#storeList {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    list-style-type: none;
    max-height: 200px;
    overflow-y: auto;
    width: 90%;
}

#storeList li {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

#storeList li:hover {
    background-color: #f0f0f0;
}