@font-face {
    font-family: 'CBNUJIKJI';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2202@1.0/CBNUJIKJI.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
  margin: 0;
  padding: 0;
  font-family: CBNUJIKJI, Helvetica, sans-serif;
}
#category-filter {
    position: fixed;
    bottom: 50px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1000;
}

#category-filter button {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#category-filter button i {
    font-size: 20px;
}

#category-filter button .button-text {
    display: inline;
}

@media (max-width: 768px) {
    #category-filter button .button-text {
        display: none;
    }

    #category-filter {
        flex-direction: row;
        gap: 5px;
    }
}
#storeList {
    position: absolute;
    height: 100%; /* Take full height */
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    list-style-type: none;
    max-height: 600px;
    overflow-y: auto;
    width: 90%;
}

#storeList li {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

#storeList li:hover {
    background-color: #f0f0f0;
}