body {
  display: flex;
  margin: 0;
}
.sidebar {
  width: 4.5rem;
  height: 100vh;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#mapContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 4.5rem;
  background-color: #fcedaa;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav.open {
  width: 250px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #363636;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #a9cfe2;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
.store-details {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
